* {margin: 0;}
html,
body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  text-align: center;
}

html {
  background: url('../img/Background.jpg');
  font-size: 10pt;
}

body {
  display: table;
  width: 100%;
}

label {
  display: block;
  color: #999;
}
.cf:before,
.cf:after {
    content: ""; 
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
  outline: 0;
}
.loginform {
  width: 600px;
  margin: 2% auto;
  padding: 25px;
  background-color: rgba(250,250,250,0.5);
  border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
          inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.loginform ul {
  padding: 0;
  margin: 0;
}
.loginform li {
  display: inline;
  float: left;
}
.loginform input:not([type=submit]) {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginform input[type=submit] {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #64c8ef; /* Old browsers */
  background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
  color: #fff;
  padding: 5px 15px;
  margin-right: 0;
  margin-top: 15px;
  border-radius: 3px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}


a:link {
    color: #394047;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
    color: #394047;
    background-color:transparent;
    text-decoration:none;
}
a:hover {
   color: rgba(86, 122, 158, 1);
    background-color:transparent;
    text-decoration:underline;
}
a:active {
    color: rgba(86, 122, 158, 1);
    background-color:transparent;
    text-decoration:underline;
}
/*Menu Admin*/
#wb_CssMenu1
{
   border: 0px #C0C0C0 solid;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0 20%;
   padding: 0;
   position: relative;
   display: inline-block;
   width: 336px;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 25px 0px;
   width: 336px;
}
#wb_CssMenu1 a
{
   display: block;
   color: #666666;
   border: 1px #286af0 solid;
   background-color: #EEEEEE;
   background-image: none;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   width: 324px;
   height: 26px;
   line-height: 26px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #ffffff;
   background-color: #286af0;
   background-image: none;
   border: 1px #286af0 solid;
}
#wb_CssMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0px;
}

/*footer*/

footer {
  position: fixed;
  height: 3em;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  height: 50px; /* Altura del Footer en px*/
  clear: both;
  background: #286af0;
  text-align: center ;
  color: #FFFFFF;
}

/*header*/
header{
    text-align: center;
    position: relative;
    margin-top: 0%;
    border-bottom: 0px solid black;
}
section{
    text-align: center;
    position: relative;
    border-bottom: 0px solid blue;
    padding-bottom: 10%;
}

header figure{
    display: inline-block;
    margin: 1em 0 0.5em 0;
    
}

header figure img{
    border-radius: 8px;
    box-shadow: 6px 6px 5px 0px rgba(50, 50, 50, 0.75);
}

header #banner{
    width: 85%;
}


b.prueba {
   display: block;
   color: #666666;
   border: 1px #286af0 solid;
   background-color: #EEEEEE;
   background-image: none;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   width: 324px;
   height: 26px;
   line-height: 26px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
/* mouse over link */
b.prueba:hover {
   color: #ffffff;
   background-color: #286af0;
   background-image: none;
   border: 1px #286af0 solid;
}

/* selected link */
b.prueba:active {
    color: yellow;
    background: blue;
} 
a.prueba {
   display: block;
   color: #666666;
   border: 1px #286af0 solid;
   background-color: #EEEEEE;
   background-image: none;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   width: 324px;
   height: 26px;
   line-height: 26px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
/* mouse over link */
a.prueba:hover {
   color: #ffffff;
   background-color: #286af0;
   background-image: none;
   border: 1px #286af0 solid;
}

/* selected link */
a.prueba:active {
    color: yellow;
    background: blue;
} 

/* Main Navigation */
#nav {
  position:relative;
  width:620px;
  margin:0 auto; 
  margin-top:50px;
  padding:10px;
}

ul#navigation {
  margin:0px auto;
  position:relative;
  float:left;
  border-left:0px solid #c4dbe7;
  border-right:1px solid #c4dbe7;
}

ul#navigation li {
  display:inline;
  font-size:12px;
  font-weight:bold;
  margin:0;
  padding:0;
  float:left;
  position:relative;
  border-top:1px solid #c4dbe7;
  border-bottom:2px solid #c4dbe7;
}

ul#navigation li a {
  padding:10px 25px;
  color:#616161;
  text-shadow:1px 1px 0px #fff;
  text-decoration:none;
  display:inline-block;
  border-right:1px solid #fff;
  border-left:1px solid #C2C2C2;
  border-top:1px solid #fff;
  background: #f5f5f5;
  
  -webkit-transition:color 0.2s linear, background 0.2s linear; 
  -moz-transition:color 0.2s linear, background 0.2s linear;  
  -o-transition:color 0.2s linear, background 0.2s linear;  
  transition:color 0.2s linear, background 0.2s linear; 
}

ul#navigation li a:hover {
  background:#f8f8f8;
  color:#282828;
}

ul#navigation li a.first {
  border-left: 0 none;
}

ul#navigation li a.last {
  border-right: 0 none;
}

ul#navigation li:hover > a {
  background:#fff;
}


.mytable{
  width:100%; font-size:11px;
  border:10px solid #ccc;

}
.mytable th{
  background-color:#003366;
  color:#FFF; padding:2px;
  border:1px solid #ccc;
}
.mytable td{
 padding:2px;
 height: auto;
 border-bottom:1px solid #ccc;
 border-right:1px solid #ccc;
}
.mytable input.flt {
  width: 70%;
  height: auto;
}
.loginform .mytable input {
  /*width: auto;*/
  clear: both;
  height: auto;
}